In [1]:
import numpy as np
import pandas as pd

In [6]:
data = pd.read_csv('data.csv', index_col=0)
data.dropna(inplace=True)
# data.loc[data.weatherCond == np.nan]
# filtered_df = data[data['weatherCond'].isnull()]
# filtered_df = data[data['type'] == 0]

# filtered_df
# filtered_df.sort_values(by=['type'])"

# zipCodes = set(filtered_df['zipcode'].tolist())

# zipCodes
# filtered_df

array(['Partly Cloudy', 'Overcast', 'Clear', 'Scattered Clouds',
       'Mostly Cloudy', 'Fog', 'Light Snow', 'Light Rain', 'Rain', 'Haze',
       'Mist', 'Light Freezing Rain', 'None', 'Light Drizzle',
       'Heavy Snow', 'Clouds'], dtype=object)

In [90]:
import matplotlib.pyplot as plt
# plt.plot(filtered_df)
filtered_df.drop(['date', 'lat', 'location', 'lon', 'userId', 'weatherCond', 'device'], axis=1, inplace=True)

/Users/antoniohung/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [97]:
# filtered_df.index.drop()


filtered_df.head()

,clouds,humidity,pressure,temp,type,visibility,windDeg,windSpeed,zipcode
06C101F9-0816-4BD6-91FB-0C12E0CB88F9,75,87,1020,44.00,0,6437,110.0000,10.0,10956.0
1b85e070-8e3c-11e7-bd7e-576539d05eac,1,82,1013,60.57,0,16093,280.0000,4.7,10927.0
28362b70-6ad0-11e7-908f-4b064f587a76,1,87,1021,55.62,0,16093,20.0008,5.5,98109.0
6ca3ae80-6086-11e7-be36-e17cbde4202e,90,94,1018,61.47,0,16093,140.0000,4.7,94103.0
6e70e110-6ad1-11e7-908f-4b064f587a76,1,87,1021,55.62,0,16093,20.0008,5.5,98109.0

In [121]:
import matplotlib.pyplot as plt
filtered_df.reset_index(drop=True, inplace=True)

filtered_df
# plt.show(df)
# plt.plot(filtered_df)
# plt.show()

,clouds,humidity,pressure,temp,type,visibility,windDeg,windSpeed,zipcode
0,75,87,1020,44.00,0,6437,110.0000,10.00,10956.0
1,1,82,1013,60.57,0,16093,280.0000,4.70,10927.0
2,1,87,1021,55.62,0,16093,20.0008,5.50,98109.0
3,90,94,1018,61.47,0,16093,140.0000,4.70,94103.0
4,1,87,1021,55.62,0,16093,20.0008,5.50,98109.0
5,1,100,1018,62.37,0,9656,200.0000,3.36,10927.0
6,90,94,1018,61.47,0,16093,140.0000,4.70,94103.0
7,1,87,1021,55.62,0,16093,20.0008,5.50,98109.0
8,90,93,1014,59.58,0,16093,330.0000,8.05,10927.0
9,90,94,1018,61.47,0,16093,140.0000,4.70,94103.0
10,1,87,1021,55.62,0,16093,20.0008,5.50,98109.0
11,1,25,1022,26.00,0,16093,175.0000,2.00,10901.0
12,1,87,1024,60.58,0,16093,50.0000,8.05,10927.0
13,90,94,1018,61.47,0,16093,140.0000,4.70,94103.0
14,90,100,1014,57.22,0,402,251.0000,2.06,10927.0
15,1,87,1021,55.62,0,16093,20.0008,5.50,98109.0
16,1,87,1021,55.62,0,16093,20.0008,5.50,98109.0
17,20,51,1022,36.03,0,16093,340.0000,9.17,98109.0
18,1,57,1023,73.00,0,16093,260.0000,5.00,10923.0